player-connection-mode=Listen
player-connection-guid=133196490
player-connection-debug=0
player-connection-project-name=Strategy
player-connection-ip=192.168.0.186
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=49c4a8496fb14e12bb308383726955ca
